<div class="container">

	<div class="col-md-8 col-md-offset-2">
		<h2>Callsign: <%= @callsign.name %></h2>
		<% if current_user.id == @callsign.user_id%>
			<a href="/">Home</a> | <a href="/callsigns/<%=@callsign.slug%>/edit">Edit</a> | <a href="/contacts">View contacts</a> | <a href="/logout">Logout </a>
			<br><br>
			If you want to delete this callsign press the button below
			<form method="post" action="/callsigns/<%=@callsign.id%>/delete">
				<input type="hidden" id="hidden" name="_method" value="DELETE">
				<p><input type="submit" value="delete"></p>
				<div class="content">
					<p>Callsign: <%= @callsign.name %></p>
					<p>Home QTH: <%= @callsign.gridsquare %><p>
				</div>
			</form>
		<% elsif is_logged_in? %>
				<a href="/">Home </a> | <a href="/logout">Log Out</a><br><br>
				<i>You are not authorzed to view this page</i>
		<% else %>
				<a href="/signup">Sign Up </a> | <a href="/login">Log In</a><br><br>
				<i>You need to be logged in to look around</i>
		<% end %>
	</div>
</div>
