<h1></h1>
<div class="container">
  <header><img src="images/radiostationsketch.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2"> 
  
    <% if is_logged_in? %>
        <h2>Contacts</h2>
        <% if session[:callsign] %>
            <p><a href="/">Home</a> | <a href="/contacts/new">Add new contact</a> | <a href="/logout">Logout </a><br><p>
            Callsign selected: <%= session[:callsign].upcase %>..
            <% cs = Callsign.find_by_slug(session[:callsign]) %>
            <% contacts = cs.contacts %>
        <% else %>
            <p><a href="/">Home</a> | <a href="/logout">Logout </a><br><p>
            <i>To add a new contact please first select a callsign on the <a href="/">homepage</a>
            <% contacts = current_user.contacts %>
        <% end %>
        <% if contacts.size != 0 %>
            <table id="contacts">
                <tr>
                    <th></th>
                    <th>Worked</th> 
                    <th>Date/Time</th>
                    <th>Band</th>
                    <th>Mode</th> 
                    <th>Frequency</th>
                    <th>Country</th>
                </tr>            
                <% contacts.order('date DESC').each do |contact| %>         
                <tr>
                    <td><a href="/contacts/<%= contact.id %>">Detail</a></td>
                    <td><%= contact.call %></td>
                    <td><%= contact.date %>&ensp;<%= contact.time %></td>
                    <td><%= contact.band %></td>
                    <td><%= contact.mode %></td>
                    <td><%= contact.frequency %></td> 
                    <td><%= contact.country %></td>
                </tr>
                <% end %>
            </table>
        <% else %>
            <i>You don't have any contacts entered yet</i>
        <% end %>
        
    <% else %>
        <br>
        <h2>Hello, welcome to HamLogbook</h2>
        <a href="/login">Log In</a> | <a href="/signup">Sign Up</a><br><br>
        <i>You have to be logged in to look around</i>
    <% end %> 
  </div>
</div>