<div class="container">
  <header><img src="images/radiostationsketch.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
  
    <% if is_logged_in? %>
      <h2>Hello <%= current_user.name %>, welcome to HamLogbook</h2>
      <div class="content">
        <% if current_user.callsigns.length == 1 %>
          <p>This is your callsign, what do you want to do?</p>
          <p><a href="/callsigns/<%= current_user.callsigns[0].slug %>">
          <%=current_user.callsigns[0].name%></a></p>
          <p><a href='/callsigns/new'>Add another callsign</a></p>
        <% elsif current_user.callsigns.length > 1 %>
          <p>These are your callsigns, what do you want to do?</p>
          <% current_user.callsigns.each do |callsign|%>
            <p><a href="/callsigns/<%= callsign.slug %>">
            <%=callsign.name%></a></p>
          <% end %>

        <% else %>
          <p>You have not added a callsign yet.</p>
          <a href='/callsigns/new'>Add callsign</a>

        <% end %>
      </div>
    <% else %>
    <br>
      You have to be logged in to look around
    <% end %>
      <div class="sidebar">
        <% if !!current_user %>
          <a href="/logout">Logout </a> | <a href="#">View contacts</a>
        <% else %>
          <a href="/signup">Sign Up </a> | <a href="/login">Log In</a>
        
        
        <% end %>
      </div>
    
  </div>
</div>
