<div class="container">
    <div class="col-md-8 col-md-offset-2">
  
    <% if is_logged_in? %>
        <h2>Hello <%= current_user.name %>, welcome.</h2>
          <a href='/users/<%=current_user.id%>'>My account</a> | <a href='/callsigns/new'>Add callsign</a> | <a href="/logout">Logout</a><br><br>
        <div class="content">
        <% if current_user.callsigns.length == 1 %>
            <p>Choose a callsign</p>
            <p><a href="/callsigns/<%= current_user.callsigns[0].slug %>">
            <%=current_user.callsigns[0].name%></a></p>
            <p><a href='/callsigns/new'>Add another callsign</a></p>
        <% elsif current_user.callsigns.length > 1 %>

            <p>Here are your callsigns, view all your contacts or choose a callsign to modify it or to view only contacts made with that callsign</p>
            <% session[:callsign] = nil %>
            <p>View all my <a href="/contacts">contacts</a></p>
            <% current_user.callsigns.each do |callsign|%>
                <p><a href="/callsigns/<%= callsign.slug %>">
                <%=callsign.name%></a></p>
            <% end %>
        <% else %>
            <p>You have not added a callsign yet.</p>
            <a href='/callsigns/new'>Add callsign</a>
        <% end %>
        </div>
    <% else %>
        <br>
        <h2>Hello, welcome to HamLogbook</h2>
        <a href="/signup">Sign Up </a> | <a href="/login">Log In</a><br><br>
        <p>HamLogbook is a place where you can keep track of your Ham contacts.</p>
        <p>Signup to create an account to look around.</p>
    <% end %>

        
          
        
        

    
  </div>
</div>
